@charset "UTF-8";
/* CSS Document */
.bio-pic{
	float:left;
}
.bio-description{
//	float:right;
	color:yellow;
}
body{
	background-image:url('../images/revamp/samargote-background.png')!important;
	background-size:cover!important;
	/*font-family: 'Open Sans', sans-serif!important; */
	font-family: 'Lora', serif!important;
	font-weight: 400!important;
}
#content p{
	color:#464646;
	line-height: 2em!important;
}
.top-bar{
	background-image:url('../images/revamp/background-top.png');
	background-repeat:repeat-x;
	width:100%;
}
h2.gray{
	color:#222222!important;
}
p.footer{
	font-size:70%;
}
.wrapper-blog{
	background-color:white;
	border-radius:0px 0px 20px 20px;
	box-shadow: 0 0 15px;
	padding:15px;
}
.wrapper-contact{
	background-color:white;
	border-radius:20px 20px 20px 20px;
	box-shadow: 0 0 15px;
	padding:15px;
}
.wrapper-sidebar{
	background-color:white;
	border: solid 2px; 
	border-radius:20px 20px 20px 20px;
	box-shadow: 0 0 15px;
	padding:15px;
}
.wrapper-footer{
	background-color:white;
	border-radius:20px 20px 20px 20px;
	box-shadow: 0 0 15px;
	padding:15px;
}
.wrapper-panel{
	border-radius:20px 20px 20px 20px;
	box-shadow: 0 0 15px;
	padding: 15px;;
}
.wrapper-banner{
	border-radius:20px 20px 0px 0px;
}
.wrapper-banner img{
	margin-top: -10px;
}
.linkedin{
	float: left;
}
.resume{
	float: left;
}
.resume-wrapper{
	width: 300px;
	height: 130px;
}
.sites-wrapper{
	box-shadow: 0 0 35px;
}
.sidebar .widget li{
	list-style:none;
	margin-bottom:0.75em;
}
.sidebar .widget ul{
	margin-left:3px;
}
/***  ADD CSS FOR WP CAPTION ALIGNMENT****/
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.aligncenter{
	margin-left: auto;
	margin-right: auto;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.aligncenter img{
	margin-left: auto;
	margin-right: auto;
}
input#searchsubmit {
	background-color: #008cba;
	color: white;
	padding: 4px;

}
.screen-reader-text{
	font-size: 16px;
	font-weight: bold;
}
.sd-content{
	margin-left: 70px;
	margin-top: -30px;
}
h3.sd-title{
	color: #008cba;
}